<div class="modal-header">
  <h2 class="modal-title h2">Trader Metrics</h2>
  <!-- TODO
  Add trader stock name and other identifying properties -->
  <button type="button" class="close" aria-label="Close" (click)="dismissMe()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="graphs">
    <div>
      <canvas baseChart width="500" height="500"
              [datasets]="lineChartData1"
              [labels]="lineChartLabels1"
              [options]="lineChartOptions"
              [colors]="lineChartColors1"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              [plugins]="lineChartPlugins">
      </canvas>
    </div>
    <div>
      <canvas baseChart width="500" height="500"
              [datasets]="lineChartData2"
              [labels]="lineChartLabels2"
              [options]="lineChartOptions"
              [colors]="lineChartColors2"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              [plugins]="lineChartPlugins">
      </canvas>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="closeMe()">Close</button>
</div>
