<div class="modal-header">
  <h2 class="modal-title h2">Trader History</h2>
  <!-- TODO
  Add trader stock name and other identifying properties -->
  <button type="button" class="close" aria-label="Close" (click)="dismissMe()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body history-modal">
  <div class="my-form form-group">
    <label class="label">Sort By</label>
    <select class="form-control" [(ngModel)]="category">
      <option value="profitOrLoss">Profit</option>
      <option value="openTime">Opening Time</option>
      <option value="closeTime">Closing Time</option>
      <option value="size">Trade Size</option>
    </select>
    <label class="label">Order</label>
    <select class="form-control" [(ngModel)]="order">
      <option value="ascending">Ascending</option>
      <option value="descending">Descending</option>
    </select>
    <label class="label">Items</label>
    <input type="number" class="form-control" min="10" max="500" step="30" [(ngModel)]="noOfItems">
  </div>
  <div>
    <table class="table table-sm" *ngIf="!(trader.positions === undefined || trader.positions.length == 0)">
      <thead>
        <tr>
          <th>#</th>
          <th>Profit</th>
          <th>Opening Price</th>
          <th>Closing Price</th>
          <th>Trade Size</th>
          <th>Open Time</th>
          <th>Closing Time</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let position of trader.positions |sort :category :order :noOfItems;let i = index">
            <td>{{i+1}}</td>
            <td> {{position.profitOrLoss != null ? (position.profitOrLoss | currency:'USD':'symbol':'1.2-2'): 'N/A'}}</td> 
            <td> {{position.openingTrade != null ? (position.openingTrade.price | currency:'USD':'symbol':'1.2-2'): 'N/A'}}</td>
            <td> {{position.closingTrade != null ? (position.closingTrade.price | currency:'USD':'symbol':'1.2-2'): 'N/A'}}</td>
            <td> {{position.openingTrade != null ? (position.openingTrade.size) : 'N/A'}}</td>
            <td> {{position.openingTrade != null ? (position.openingTrade.when |date:'short'): 'N/A'}}</td>
            <td> {{position.closingTrade != null ? (position.closingTrade.when |date:'short'): 'N/A'}}</td> 
          </tr>
      </tbody>
      </table>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="closeMe()">Close</button>
</div>
