<div class="tables animated slideInLeft">
  <div class="table">
    <h2 class="h2">2MA Traders</h2>
    show by stock
    <select [(ngModel)]="whichStock2MA">
      <option value="all">All</option>
      <option *ngFor="let trader of traders | TraderFilter: '2MA'  | unique "   value="{{trader.stock}}">{{trader.stock}}</option>
    </select>

    show by profit or loss
    <select [(ngModel)]="PorL2MA">
      <option value="all">All</option>
      <option value="profit">Profit</option>
      <option value="loss">Loss</option>
    </select>

    show by state
    <select [(ngModel)]="state2MA">
      <option value="all">All</option>
      <option value="Started">Started</option>
      <option value="Stopped">Stopped</option>
    </select>

    <input type="button" value="Submit" (click)="filterTraders2MA()" />

    <table class="font-weight-normal table-bordered table-sm thead-dark table-inside">
          <thead>
            <tr>
              <th>Stock</th>
              <th class="center" >Size</th>
              <th class="center" >Short</th>
              <th class="center" >Long</th>
              <th class="center" >Exit</th>
              <th>State</th>
              <th class="center" >Trades</th>
              <th class="center" >Profit</th>
              <th class="center" >ROI</th>
            </tr>
          </thead>


          <tbody>
            <tr
              *ngFor="let trader of filteredTraders2MA | TraderFilter: '2MA'; let i = index"
              id="2MA{{trader.ID}}"
              (click)='selectTrader("2MA", trader.ID)'
              [ngClass]="{
                  'oddWinner': trader.profitOrLoss > 0 && i % 2 == 1 && trader.real,
                  'evenWinner': trader.profitOrLoss > 0 && i % 2 == 0 && trader.real,
                  'oddLoser': trader.profitOrLoss < 0 && i % 2 == 1 && trader.real,
                  'evenLoser': trader.profitOrLoss < 0 && i % 2 == 0 && trader.real,
                  'selected' : selectedTrader != null && trader.ID === selectedTrader.ID,
                  'not-real' : !trader.real,
                  'not-real-selected' : !trader.real && selectedTrader != null && trader.ID === selectedTrader.ID
                }"
            >
              <td>{{trader.stock}}</td>
              <td class="right" >{{trader.size}}</td>
              <td class="right" >{{minSec(trader.lengthShort)}}</td>
              <td class="right" >{{minSec(trader.lengthLong)}}</td>
              <td class="right" >{{trader.exitThreshold | percent:'1.2-2'}}</td>
              <td>
                <input
                  id="{{trader.ID}}"
                  type="button"
                  [value]="getState(trader)"
                  [class]="getClass(getState(trader))"
                  [disabled]="getState(trader) == 'Stopping'"
                  (click)="startOrStop($event, false)" />
              </td>
              <td class="right indent" >{{trader.trades}}</td>
              <td  class="right" >{{trader.profitOrLoss | currency:'USD':'symbol':'1.2-2'}}
                <fa-icon *ngIf="trader.profitOrLoss>0" class="profit" icon="arrow-up" style="color: limegreen"></fa-icon>
                <fa-icon *ngIf="trader.profitOrLoss<0" icon="arrow-down" style="color: red"></fa-icon></td>
              <td  class="right" >{{getROI(trader)}}</td>
            </tr>
           </tbody>

           <tfoot>
             <tr>
               <td colspan="6" ></td>
               <td class="right indent" >{{getTotalTrades('2MA')}}</td>
               <td class="right" >{{getTotalProfit('2MA') | currency:'USD':'symbol':'1.2-2'}}</td>
               <td colspan="1" ></td>
             </tr>
           </tfoot>
      </table>
  </div>

  <div class="table">
      <h2 class="h2">BB Traders</h2>
      show by stock
      <select [(ngModel)]="whichStockBB">
        <option value="all">All</option>
        <option *ngFor="let trader of traders | TraderFilter: 'BB' | unique"  value="{{trader.stock}}">{{trader.stock}}</option>
      </select>

      show by profit or loss
      <select [(ngModel)]="PorLBB">
        <option value="all">All</option>
        <option value="profit">Profit</option>
        <option value="loss">Loss</option>
      </select>

      show by state
      <select [(ngModel)]="stateBB">
        <option value="all">All</option>
        <option value="Started">Started</option>
        <option value="Stopped">Stopped</option>
      </select>

      <input type="button" value="Submit" (click)="filterTradersBB()" />


      <table class="font-weight-normal table-bordered table-sm thead-dark table-inside">
          <thead>
            <tr>
              <th>Stock</th>
              <th class="center" >Size</th>
              <th class="center" >Window</th>
              <th class="center" >Multiplier</th>
              <th class="center" >Exit</th>
              <th>State</th>
              <th class="center" >Trades</th>
              <th class="center" >Profit</th>
              <th class="center" >ROI</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let trader of filteredTradersBB | TraderFilter: 'BB'; let i = index"
              id="BB{{trader.ID}}"
              (click)='selectTrader("BB", trader.ID)'
              [ngClass]="{
                  'oddWinner': trader.profitOrLoss > 0 && i % 2 == 1 && trader.real,
                  'evenWinner': trader.profitOrLoss > 0 && i % 2 == 0 && trader.real,
                  'oddLoser': trader.profitOrLoss < 0 && i % 2 == 1 && trader.real,
                  'evenLoser': trader.profitOrLoss < 0 && i % 2 == 0 && trader.real,
                  'selected' : selectedTrader != null && trader.ID === selectedTrader.ID,
                  'not-real' : !trader.real,
                  'not-real-selected' : !trader.real && selectedTrader != null && trader.ID === selectedTrader.ID
                }"
            >
              <td>{{trader.stock}}</td>
              <td class="right" >{{trader.size}}</td>
              <td class="right" >{{minSec(trader.windowLength)}}</td>
              <td class="center" >{{trader.multiplier}}</td>
              <td class="right" >{{trader.exitThreshold | percent:'1.2-2'}}</td>
              <td>
                <input
                  id="{{trader.ID}}"
                  type="button"
                  [value]="getState(trader)"
                  [class]="getClass(getState(trader))"
                  [disabled]="getState(trader) == 'Stopping'"
                  (click)="startOrStop($event, false)" />
              </td>
              <td class="right indent" >{{trader.trades}}</td>
              <td  class="right" >{{trader.profitOrLoss | currency:'USD':'symbol':'1.2-2'}}
                <fa-icon *ngIf="trader.profitOrLoss>0" class="profit" icon="arrow-up" style="color: limegreen"></fa-icon>
                <fa-icon *ngIf="trader.profitOrLoss<0" icon="arrow-down" style="color: red"></fa-icon></td>
              <td  class="right" >{{getROI(trader)}}</td>
            </tr>
           </tbody>
           <tfoot>
             <tr>
               <td colspan="6" ></td>
               <td class="right indent" >{{getTotalTrades('BB')}}</td>
               <td class="right" >{{getTotalProfit('BB') | currency:'USD':'symbol':'1.2-2'}}</td>
               <td colspan="1" ></td>
             </tr>
           </tfoot>
        </table>
  </div>
</div>
