<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Type</span>
  </div>
  <select class="form-control" [(ngModel)]="type">
      <option value="2MA" >Two moving averages</option>
      <option value="BB" >Bollinger bands</option>
  </select>
</div>
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Stock</span>
  </div>
  <input type="text" class="form-control" placeholder="MRK" [(ngModel)]="stock">
</div>
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Size</span>
  </div>
  <input type="number" step="100" min="100" class="form-control" [(ngModel)]="size">
</div>
<div class="form-check label-div">
  <input class="form-check-input label-checkbox" type="checkbox" value="" [(ngModel)]="real" id="defaultCheck1">
  <label class="form-check-label label-vt" for="defaultCheck1">Virtual Trader</label>
</div>


<!-- TODO: content here varies by trader type -->
<div *ngIf="type === '2MA'">
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Short</span>
    </div>
    <input type="number" min="1" step="1" class="form-control" [(ngModel)]="lengthShort">
  </div>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Long</span>
    </div>
    <input type="number" min="1" step="1" class="form-control" [(ngModel)]="lengthLong">
  </div>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Exit</span>
    </div>
    <input type="number" min="0.25" step="0.25" class="form-control" [(ngModel)]="exitThreshold">
  </div>
</div>

<div *ngIf="type === 'BB'">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Window</span>
      </div>
      <input type="number" min="3" step="1" class="form-control" [(ngModel)]="windowLength">
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Multiplier</span>
      </div>
      <input type="number" min="0.5" step="0.25" class="form-control" [(ngModel)]="multiplier">
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Exit</span>
      </div>
      <input type="number" min="0.25" step="0.25" class="form-control" [(ngModel)]="exitThreshold">
    </div>
  </div>
<div class="alert alert-danger" role="alert" *ngIf="checkValid()">
  {{errorMsg}}
</div>

  <div class="flex">
    <button class="btn btn-primary" (click)="create()" [disabled]="checkValid()">Create</button>
  </div>
  


