.right {
  text-align: right;
}

.center {
  text-align: center
}

.oddWinner {
  background-color: #efe;
}

.evenWinner {
  background-color: #dfd;
}

.oddLoser {
  background-color: #fee;
}

.evenLoser {
  background-color: #fdd;
}

table {
  border-collapse: collapse;
  text-align: center;
}


thead th {
  margin-bottom: 6px;
  padding: 8px 6px;
}

tbody tr {
  border: 1px solid grey;
  cursor: pointer;
}

tbody td {
  padding: 8px 6px;
}

tbody td.narrow {
  padding-left: 0;
}

tbody td.wide {
  padding-left: 12px;
}

tbody td.indent {
  padding-right: 12px;
}

tfoot td {
  font-weight: bold;
  margin-top: 8px;
}

tfoot td.indent {
  padding-right: 12px;
}

input[type="image"] {
  height: 24px;
  margin-top: 2px;
  border: 2px outset #ccc;
}

.btn-danger {
  width: 80px;
}

.tables {
  display: flex;
  flex-direction: column;
}

.table {
  /* width: 100%; */
  padding: 20px;
  background-color: white;
  margin-left: 40px;
}

.label {
  margin: 10px;
}

.selected {
  background: cornflowerblue;
}

.table-inside {
  width: 90%;
}

.not-real {
  background-color: darkgray;
}

.not-real-selected {
  background: cornflowerblue;
}
