/* No styles at this level */
.layout {
  display: flex;
  justify-content: left;
}

li {
  list-style: none;
  margin: 10px;
}

ul {
  padding-left: 0;
}

.table {
  background-color: white;
}

.actions-toolbar {
  padding: 20px;
  border-radius: 25px;
  background: lightgray;
  margin-right: 50px;
  height: 40%;
  margin-top: 100px;
  margin-right: 100px;
}

.action-header {
  text-align: center;
}

.app-header {
  background: linear-gradient(180deg,#00bdf2,#00b3f0 18%,#0066b3 77%,#004985);
  height: 80px;
  display: flex;
}

.logo {
  margin-left: auto;
  padding-right: 40px;
}

.header-title {
  padding:17px;
  font-family: Interstate_Light,sans-serif,Arial,sans-serif;
  color: white;
}
