<!--The content below is only a placeholder and can be replaced.-->
<div class="app-header">
  <div class="header-title display-1">
      <h1 class="h1">{{title}}</h1>
  </div>
  <div class="logo">
    <img style="float: right;" src="../assets/citi.png" height="80px" >
  </div>
</div>

<hr width="100%" />
<div class="layout">
  <div class="table">
    <trader-table (selectedTraderEvent)='handleSelectedTrader($event)'></trader-table>
  </div>
  <div class="actions-toolbar animated slideInRight">
    <ul>
      <li><app-form-modal></app-form-modal></li>
      <li><app-history-modal [trader]='trader'></app-history-modal></li>
      <li><app-chart-modal [selectedTrader]='trader'></app-chart-modal></li>
      <li><app-virtual-modal></app-virtual-modal></li>
    </ul>
  </div>
</div>

<router-outlet></router-outlet>
