<div class="modal-header">
    <h2 class="modal-title h2">Add Trader</h2>
    <button type="button" class="close" aria-label="Close" (click)="dismissMe()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <trader-toolbar (createdTrader)="createTraderHandler()"></trader-toolbar>
  </div>
