@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("../node_modules/animate.css/animate.css");

body {
  font-family: Verdana, Arial, Sans-serif;
  font-size: 11pt;
  padding: 8px;
}

h1 {
  font-size: 16pt;
  margin-top: 0;
  text-align: left;
}

h2 {
  font-size: 14pt;
  text-align: left;
}

.ModalClass .modal-dialog {
  max-width:  500px;
  max-height: 700px;
}
